:root {
    --text-color: blueviolet;
    --background-color: thistle;
    --accent-color: orchid;
}

body {
    margin: 0 auto;

    box-sizing: border-box;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}

.navbar__logo {
    display: flex;
    align-items:center;
    font-size: 24px;
    color: var(--text-color);
}

.navbar__menu {
    display: flex;
    list-style: none;
    font-size: 20px;
    padding-left: 0;
}

.navbar__menu li {
    padding: 12px 20px;
}

.navbar__menu li:hover {
    background-color: plum;
    border-radius: 4px;
}

.navbar__links {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 4px;
}

.navbar__links i {
    font-family:  "FontAwesome";
    font-size: 26px;
    font-style: normal;
    color: rgb(36, 36, 36);
    padding: 12px 12px;
}

.navbar__links i:hover {
    color: whitesmoke;
}

.navbar__toggle {
    display: none;
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}



@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 12px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__links {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toggle {
        display: block;
    }

    .navbar__toggle i {
        font-family:  "FontAwesome";
        font-style: normal;
    }

    .navbar__menu.active,
    .navbar__links.active {
        display: flex;
    }

    .title {
        font-size: 1rem;
    }

    .content__text {
        font-size: 0.5rem;
    }

    .container {
        display: inline-block;
        overflow: hidden;
        height: 10vh;
        width: 90vw;
    }

    .carousel {
        height: 10vh;
        width: 90vw;
        display: flex;
        transition: transform 0.5s;
    }

    .inner {
        width: 90vw;
    }

    .inner img {
        width: 100%;
    }
}

h1 {
    color: var(--text-color);
    font-size: 5rem;
}

canvas {
    border: 1px solid coral;
}

.title {
    font-family: 'Jua', sans-serif;
    font-size: 5rem;
    color: var(--text-color);
}

.content {
    width: 100%;
    height: 3000px;
}

.content__text {
    color: purple; 
    font-family: Nunito, sans-serif;
    font-size: 1.5rem;
}

.cursor {
    cursor: pointer;
}

.cursor:hover {
    transform: scale(1.1);
}

.contactBox {
    overflow: hidden;
}

span {
    display: block;
}

.blackColor {
    color: rgb(36, 36, 36);
}

.container {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    height: 80vh;
    width: 60vw;
}

.carousel {
    height: 80vh;
    width: 400vw;
    display: flex;
    overflow: hidden;

    /* transform: translate(-60vw); */
    transition: transform 0.5s;
    background-color: wheat;
}

.inner {
    width: 60vw;
    /* float: left; */
}

.inner img {
    width: 100%;
}

.img_caption {
    position: absolute;
    padding-left: 20px;
}

button {
    background-color: var(--background-color);
    color: var(--accent-color);
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px;
    margin: 0 20px;
    border: none;
    border-radius: 30px;
}